<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
  <div class="container">
    <div class="sample">
      <div class="alert" :class="infoName">
        Some info
      </div>
      <div class="form-check">
        <label class="form-check-label" >
          <input class="form-check-input" type="radio"
                 value="info"
                v-model="info">
          Info
        </label>
      </div>
        <div class="form-check">
        <label class="form-check-label" >
          <input class="form-check-input" type="radio"
                 value="warning"
                 v-model="info">
          Info warning
        </label>
      </div>
      <hr>
      <div class="form-check" v-for="(value, name) in flags">
        <label class="form-check-label" >
          <input class="form-check-input" type="checkbox"
                 v-model="flags[name]">
          {{ name }}
        </label>
      </div>
      <hr>
      <table class="table" :class="flags">
        <tr>
          <td>Title</td>
          <td>Some</td>
          <td>Zend</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Some</td>
          <td>Zend</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Some</td>
          <td>Zend</td>
        </tr>
      </table>
  </div>

  <script>

      let form = new Vue ({
          el: '.sample',
          data: {
              info: 'info',
              flags: {
                'table-bordered': false,
                'table-active': false,
                'table-hover': false
              },
          },
          computed: {
              infoName() {
                  return 'alert-' + this.info;
              }
          },
      });

  </script>
    </div>
</body>
</html>