<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
<div class="container">
  <div class="sample">
    <form>
      <h2>{{clicks}}</h2>
      <hr>
      <button class="btn btn-success"
              @click.prevent="onClick">Send
      </button>
    </form>
  </div>
</div>

<script>
  Vue.directives('onDelay', {
     bind(el, options) {

     }
  });

    let form = new Vue ({
        el: '.sample',
        data: {
            clicks: 0
        },
        methods: {
            onClick() {
                this.clicks++;
            }
        }
    });

</script>

</body>
</html>