<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
<div class="sample">
  <form v-if="!formSubmit" @submit.prevent="formSubmit = true">
    <div class="progress">
      <div class="progress-bar" :style="progressWidth"></div>
    </div>
    <div class="form-group" v-for="(item, index) in info">
      <label>{{item.name}}</label>
      <span class="fa"
            v-if="controls[index].active"
            :class="controls[index].error ? 'fa-exclamation-circle text-danger' : 'fa-check-circle text-success'">
      </span>
      <input type="text" class="form-control"
             :value="item.value"
             @input="onInput(index, $event.target.value)">
    </div>
    <button class="btn btn-primary" :disabled="done < info.length">Send Data</button>
  </form>

  <div class="container" v-else>
    <table class="table table-bordered" v-for="(item, index) in info">
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
      </tr>
    </table>
  </div>

</div>

<script>

    let form = new Vue ({
        el: '.sample',
        data: {
            info: [
                {
                    name: 'Name',
                    value: '',
                    pattern: /^[a-zA-Z ]{2,15}$/
                },
                {
                    name: 'Phone',
                    value: '',
                    pattern: /^[0-9]{10,13}$/
                },
                {
                    name: 'Email',
                    value: '',
                    pattern: /.+/
                },
                {
                    name: 'Some Field 1',
                    value: '',
                    pattern: /.+/
                },
                {
                    name: 'Some Field 1',
                    value: '',
                    pattern: /.+/
                },
            ],
            controls: [],
            formSubmit: false
        },
        beforeMount() {
            for (let i = 0; i < this.info.length; i++) {
                this.controls.push({
                    error: true,
                    active: false
                });
            }
        },
        methods: {
            onInput(index, value) {
                let data = this.info[index];
                let control = this.controls[index];

                data.value = value;
                control.error = !data.pattern.test(value);
                control.active = true;
            }
        },
        computed: {
            done() {
                let done = 0;

                for (let i = 0; i < this.controls.length; i++) {
                    if (!this.controls[i].error) {
                        done++;
                    }
                }
                return done;
            },
            progressWidth() {
                return {
                    width: (this.done / this.controls.length * 100) + '%'
                }
            }
        }
    });

</script>

</body>
</html>