<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
<div class="sample">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" name="email" v-model="email">
    </div>
  {{ email }}
</div>

<script>

    let form = new Vue ({
        el: '.sample',
        data: {
            email: '',
        },
        beforeCreate() {
            console.log('bc');
        },
        created() {
            console.log('cr');
        },
        beforeMount() {
            console.log('bmt');
        },
        mounted() {
            console.log('mt');
        },
        beforeUpdate() {
            console.log('bu');
        },
        updated() {
            console.log('up');
        }

    });

</script>

</body>
</html>