<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
<div class="sample">
  <form v-if="!formSubmit" @submit.prevent="formSubmit = true">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" name="email" v-model="email">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name" v-model="lastName">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="first_name" v-model="firstName">
    </div>
    <div class="form-group">
      <label>Your Phone</label>
      <input type="text" class="form-control" name="phone" v-model="phone">
    </div>
    <div class="form-group">
      <label>Pull people</label>
      <input type="button" class="btn btn-primary"
             value="+"
             @click="addPeople">
    </div>
    <div class="form-group" v-for="(people, key, index) in peoples" :key="key">
      <label>People {{ index + 1 }}</label>
      <input type="text" class="form-control" v-model="peoples [key]">
      <br>
      <button type="button" class="btn btn-warning" @click="deletePeople(key)"><i class=" fa fa-minus">Delete {{ index +
        1}}</i></button>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Push</button>
  </form>

  <div v-else>
    <table class="table table-bordered">
      <tr>
        <td>Email</td>
        <td>{{ email }}</td>
      </tr>
      <tr>
        <td>Last name</td>
        <td>{{ lastName }}</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{ firstName }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ phone }}</td>
      </tr>
      <tr>
        <td>People</td>
        <td>
          <ul class="list-group">
            <li class="list-group-item"
                v-for="(people, index) in peoples">
              {{ people }}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

</div>

<script>

    let form = new Vue ({
        el: '.sample',
        data: {
            formSubmit: false,
            email: '',
            lastName: '',
            firstName: '',
            phone: '',
            peoples: {},
            peopleIterator: 0
        },
        computed: {

        },
        methods: {
            addPeople() {
                this.peopleIterator++;
                this.$set(this.peoples, this.peopleIterator, '');
            },
            deletePeople(index) {
                this.$delete(this.peoples, index);
            }
        }
    });

</script>


</body>
</html>