<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Form Vue</title>
</head>
<body>
<div class="sample container">
    <div class="form-group">
      <label>Email address</label>
      <input type="text" class="form-control" name="email"
             v-model="email"
            @keyup.enter="show_email = true"
            >
    </div>
  <div v-show="show_email">
    {{ email }}
  </div>
</div>

<script>

    let form = new Vue ({
        el: '.sample',
        data: {
            email: '',
            show_email: false
        }
    });

</script>

</body>
</html>